---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- main tutorials index pages
================================================== -->
<section class="featured-posts">
	<div class="section-title">
		<h2><span></span></h2>
	</div>
	
	<div class="row">
		<div class=col-sm-3>
			<div class="card" style="background-color: #f7f7f7">
				<div class="card-body">
					<h3>Java Basics</h3>
					<ul>
						<li><h4><a href="/string-tutorials/">String Tutorials</a></h4></li>
						<li><h4><a href="/collections-tutorial/">Collections</a></h4></li>
					</ul>
				</div>

				
			</div>
		</div>
		<div class=col-sm-3>
			<div class="card" style="background-color: #f7f7f7">
				<div class="card-body">
					<h3>Interview Questions</h3>
					<ul>
						<li><h4><a href="/core-java-interview-questions/">Core Java Interview Questions</a></h4></li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
</section>
<hr>


<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Tutorials</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Latest Tutorials</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

